<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">Rating de {{rating.resourceRated.name}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Author</h6>
        <p class="card-text">{{rating.author.username}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Score</h6>
        <p class="card-text">{{rating.rating}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Comment</h6>
        <p class="card-text">{{rating.comment}}</p>
      </div>
    </div>
    <div>
      <button id="editBtn" type="button" *ngIf="isRole('admin')" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" *ngIf="isRole('admin')"  [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>


  </div>
</div>
