<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-3" [routerLink]="['/about']"><b>Uni</b>Cloud</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Rating</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/ratings']"><span class="fas fa-user-circle"></span> List Ratings</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isStudent()" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="playerDropdown2" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Students</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/students']"><span class="fas fa-user-circle"></span> List Students</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isAdmin()" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="playerDropdown3" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Users</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/users']"><span class="fas fa-user-circle"></span> List Users</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Universities</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/universities']"><span class="fas fa-user-circle"></span> List Universities</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Subjects</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/subjects']"><span class="fas fa-user-circle"></span> List Subjects</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Degrees</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/degrees']"><span class="fas fa-user-circle"></span> List Degrees</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Resources</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/resources']"><span class="fas fa-user-circle"></span> List Resources</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto me-3" app-login-navbar></ul>
  </div>
</nav>
