<div class="card mb-4">
  <div class="card-block">
    <h4 id="universityTitleName" class="card-title col-md-12 p-3">{{university.name}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Acronym</h6>
        <p id="universityAcronym" class="card-text">{{university.acronym}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">City</h6>
        <p id="universityCity" class="card-text">{{university.city}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Country</h6>
        <p id="universityCountry" class="card-text">{{university.country}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Name</h6>
        <p id="universityName" class="card-text">{{university.name}}</p>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="listBtn" type="button" [routerLink]="['/universities']"
              class="btn m-1 btn-outline-primary">University List
      </button>
      <button id="editBtn" type="button" *ngIf="isRole('admin')" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" *ngIf="isRole('admin')" [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
    <h6 class="card-title col-md-12 p-3"> {{university.name}} Degrees</h6>
    <app-degree-list></app-degree-list>
  </div>
</div>
