<form id="resource-create-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Name input -->
    <div class="form-group mb-3" >
      <label class="control-label" for="name">Resource Name*</label>
      <input id="name" name="name" type="text" class="form-control" required [(ngModel)]="resource.name" #name="ngModel">
      <div class="invalid-feedback">A resource name is required</div>
    </div>

    <!-- Description input -->
    <div class="form-group mb-3">
      <label class="control-label" for="description">Description*</label>
      <input id="description" name="description" type="text" class="form-control" required [(ngModel)]="resource.description" #acronym="ngModel">
    </div>

    <!-- File input -->
    <div class="form-group">
      <label class="control-label" for="inputFile">Resource file</label>
      <div class="col-md-9">
        <input type="file" id="inputFile" autofocus="" (change)="addDataFile($event)" #file/>
      </div>
    </div>

    <!-- Resource type input -->
    <div class="form-group mb-3" >
      <label class="control-label" for="fileType">Resource file type*</label>
      <input id="fileType" name="fileType" type="text" class="form-control" required [(ngModel)]="resource.resourceType" #name="ngModel">
      <div class="invalid-feedback">A resource type is required</div>
    </div>


    <!-- Subjects input -->


    <!-- Button -->
    <div class="form-group fa-pull-right">
      <button id="listBtn" type="button" (click)="onCancel()"
              class="btn btn-outline-primary pull-right">Back</button>
      <button id="submit" type="submit" [disabled]="!form.form.valid"
              class="btn ms-3 btn-success pull-right">Submit</button>
    </div>

  </fieldset>
</form>
